<Files "dopost.php">
	AuthName "Restricted Area"
	AuthType Basic
	AuthUserFile /var/www/.htpasswd
	require valid-user
</Files>

<Files "post.php">
	AuthName "Restricted Area"
	AuthType Basic
	AuthUserFile /var/www/.htpasswd
	require valid-user
</Files>

Options +FollowSymlinks
Options -Multiviews
RewriteEngine on

RewriteRule ^sitemap.xml$ sitemap.php

#rewrite subdirectories of post back to the root
RewriteRule ^post/([^/]+[.].+)$ $1
#so that we can redirect post to the viewpost.php file
RewriteRule ^post/(.+)$ viewpost.php?post=$1