<?php
//Blog root directory RELATIVE TO SERVER ROOT
$blogRoot = "/";

//Posts directory RELATIVE TO FILESYSTEM ROOT
$blogPosts = "/var/www/posts/";

//Page title
$blogTitle = "My Clog Blog";
//Header title
$blogHead = $blogTitle;

//Twitter Creator
$twitterCreator = "Example";

//URL style...
//if you want .../post/example+post then use 'fancy' mode and make proper use of the .htaccess file
//if you are lazy and don't want to edit an htaccess then you must have ../viewpost.php?post=example+post for this option use 'ugly'
  $urlstyle="ugly"; //ugly is default, it works quicker!
//$urlstyle="fancy";
?>
