<?php
//Blog root directory RELATIVE TO SERVER ROOT
$blogRoot = "/";

//Posts directory RELATIVE TO FILESYSTEM ROOT
$blogPosts = "/var/www/posts/";

//Page title
$blogTitle = "My Clog Blog";
//Header title
$blogHead = $blogTitle;

//Twitter Creator
$twitterCreator = "Example";

//Post mode (show or hide the post link)
$postmode = "show";
//$postmode = "hide";
?>
