<?php
//Blog root directory RELATIVE TO SERVER ROOT
$blogRoot = "/";

//Posts directory RELATIVE TO FILESYSTEM ROOT
$blogPosts = "/var/www/posts/";

//Page title
$blogTitle = "My Clog Blog";
$blogSubTitle = "It's awesome";

//Author Information
$twitterCreator = "Example";
$rssAuthorName = "A. N. Other";
//$rssAuthorEmail = ""; //optional
?>
