body.clog_body {
	font-family: sans-serif;
	font-size: 12pt;
	background-color: #FEFEFE;
	margin: 0 auto;
	width: 800px;
}

a.clog_title {
	font-weight: bold;
	font-size: 20pt;
	margin: 0px 0px 14px;
	text-decoration: none;
	color: black;
}

span.clog_perma {
	font-size: 8pt;
	font-weight: normal;
}

#tweet {
	font-size: 8pt;
	font-weight: normal;
	text-decoration: none;
	color: black;
}

a.clog_toplink {
	font-size: 14pt;
	letter-spacing: -1px;
	font-family: monospace;
	float: bottom;
	color: #000000;
}

a.clog_toplink:hover {
	color: #808080;
}

blockquote.clog_quote {
	background-color: #F4F4F4;
	padding: 5px 5px;
	border-radius: 5px;
}

span.clog_date {
	margin: 0px 0px 14px;
	font-size: 12px;
	float: right;
}

div.clog_post_div {
	clear: both;
	text-align: justify;
	border-style: solid;
	border-color: #E0E0E0;
	border-width: 5px;
	border-radius: 5px;
	width: 770px;
	margin: 10px auto;
	padding: 5px;
}

div.clog_post_div_widget {
	clear: both;
	text-align: justify;
	border-style: solid;
	border-color: #E0E0E0;
	border-width: 5px;
	border-radius: 5px;
	width: auto;
	margin: 10px auto;
	padding: 5px;
}

p{
	margin-top:0px;
	margin-bottom:1em;
}

div.clog_title {
	position: relative;
	background-color: #E0E0E0;
	text-align: center;
	width: 750px;
	margin: 10px 0px 5px;
	font-size: 32px;
	padding: 25px;
	border: 0px;
	border-radius: 10px;
}

p.clog_error{
	background-color:#FF8080;
	padding-top:1em;
	padding-bottom:1em;	
}